USE [StudentDB]
GO
/****** Object:  StoredProcedure [dbo].[spiuStudent]    Script Date: 14/06/2025 11:23:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[spiuStudent](
@FirstName nvarchar(50),
@LastName nvarchar(50),
@DateOfBirth date,
@Gender char(1),
@Email nvarchar(100),
@Phone nvarchar(15),
@Address nvarchar(255),
@CityID int
)
As
begin

--declare @StudentID int 
--select @StudentID = COUNT(StudentID)+1 from Students
insert into Students
(

[FirstName]
,[LastName]
,[DateOfBirth]
,[Gender]
,[Email]
,[Phone]
,[Address]
,[CityID]   
)
values
(

@FirstName ,
@LastName ,
@DateOfBirth,
@Gender ,
@Email ,
@Phone ,
@Address,
@CityID
)

end