USE [StudentDB]
GO
/****** Object:  StoredProcedure [dbo].[svgStudents]    Script Date: 14/06/2025 11:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[svgStudents]
as begin 
select s.StudentID, s.FirstName, s.LastName,s.DateOfBirth,s.Gender,s.Email,s.Phone,s.Address,isNull(c.CityID,0) as CityID, isNULL(c.CityName,'') as CityName
from Students s
LEFT JOIN City c ON s.CityID = c.CityID;
end; 
