USE [StudentDB]
GO
/****** Object:  StoredProcedure [dbo].[svgStudentsMarks]    Script Date: 16/08/2025 09:30:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[svgStudentsMarks]
As Begin 
select s.StudentID, s.FirstName+s.LastName as FullName, sm.MarksObtained / sm.TotalMarks * 100  as Percentage
from Students s with(nolock)
Left join StudentMarks sm on s.StudentID = sm.StudentID;
end;