USE [StudentDB]
GO
/****** Object:  StoredProcedure [dbo].[svgStudentById]    Script Date: 16/08/2025 09:29:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[svgStudentById] 
@StudentID int 
As Begin 
select * from Students where StudentID = @StudentID;
end; 
